<div class="d-flex">
  <!-- Sidebar -->
  <div class="bg-light shadow p-3 text-white" style="width: 250px;min-height:91vh;position:fixed">
    <div class="nav flex-column">
        <a href="/admin/category" class="btn btn-dark mb-2">Categories🔰</a>
      <a href="/admin/product" class="btn btn-dark mb-2">Product🔰</a>
      <a href="/admin/subcat" class="btn btn-dark mb-2">Subcategories🔰</a>
      <a href="/admin/users" class="btn btn-dark mb-2">Users🔰</a>
    </div>
  </div>
  <div class="flex-grow-1 p-3" style="width: 750px; margin-left:250px">
    <a href="/admin/addcat" class="btn btn-outline-danger">Add Categories</a>

  {{!-- categoires comes here --}}

<table class="table shadow mt-2 rounded">
  <tr class="shadow" style="border-bottom: 2px solid green;">
    <th>CategoryName</th>
    <th>Description</th>
    <th>Image</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  {{#each data}}
<tr class="shadow">
    <td class="align-middle">{{this.categoryName}}</td>
    <td class="align-middle">{{this.Description}}</td>
    <td class="align-middle"><img src="/images/categories/{{this.image}}" width="100px" height="100px" alt="img"></td>
    <td class="align-middle"><a href="/admin/catedti/{{this._id}}" class="btn btn-primary">Edit</a></td>
    <td class="align-middle"><a href="/admin/category/{{this._id}}" class="btn btn-danger">Delete</a></td>
</tr>

  {{/each}}
</table>

  </div>
</div>