
<div class="container" style="min-height: 600px;">
<div class="container mt-4 shadow py-3 px-4 ">
  <div class="row ">
    <!-- Product Image Column -->
    <div class="col-md-4 align-item-center justify-content-center shadow py-3 rounded ">
      <img src="/images/product/{{data.ProductImage}}" width="300px" height="150px" style="object-fit: contain;"  alt="Product Image">
      <div class="mt-3">
     <a href="/addcart/{{data._id}}" class="btn btn-warning w-100">Add to Cart</a>
      </div>
    </div>

    <!-- Product Details Column -->
    <div class="col-md-8 ">
      <h2>{{data.ProductName}}</h2>
            <p>Description:</p>
      <p>{{data.Descrption}}</p>
      <p class="lead">Price:{{data.Price}}</p>
    </div>
  </div>
</div>
</div>